:root {
    --color-principal: #111;
}

/*
* GENERAL
*/
.hero,
.nosotros,
.trabajos,
.contacto {
    min-height: 600px;
}

/*
* HEADER
*/
.navbar-logo {
    padding: 8px 10px;
}
.navbar-menu {
    padding: 0 10px !important;
}
.navbar-buble {
    background-color: var(--color-principal);
    border-radius: 50px;
    float: right;
}

/*
* HERO
*/
.hero-title {
    display: inline-block;
    width: fit-content;
    margin: 0 auto;
    padding-left: 120px;
}
.hero-shape {
    display: inline-block;
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 67% 33% 35% 65% / 64% 66% 34% 36% ;
    background: linear-gradient(90deg, #FFA200 0%, #FF5B00 100%);
    z-index: -1;
}

/*
* NOSOTROS
*/
.nosotros p {
    text-align: end;
}
.circle {
    border-radius: 50%;
    float: right;
    margin: 2rem;
    width: 300px;
    height: 300px;
    background-color: red;
    shape-outside: border-box;
    shape-margin: 1rem;
}

/*
* TRABAJOS
*/
.trabajos-mock {
    width: 500px !important;
    margin: 0 auto;
}
.owl-nav {
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*
* CONTACTO
*/
.contacto .brandingLogo {
    display: none;
}

/*
* FOOTER
*/
.footer {
    background-color: var(--color-principal);
}
.footer-logo {
    font-size: 30px;
    color: #FFF;
}